<h2 align="center">Title: <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center"><strong> Description:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="article-action">
    <%= link_to 'Edit' , edit_article_path(@article), class: "btn btn-xs btn-success" %>
    <%= link_to 'Delete this article' , article_path(@article),method: :delete,data: {confirm:"Are you sure ?"}, class: "btn btn-xs btn-danger"  %>
    <%= link_to 'Back to articles' , articles_path, class: "btn btn-xs btn-primary"  %>
  </div>
</div>

